#container {
 	margin-left: auto;
 	margin-right: auto;
 	width: 900px;
}

body {
color:#000;
background-color:#ffffff;
font-family:arial, verdana, sans-serif;
}

table.UpperBar {
width:90%;
max-width:1000px;
background-color:#425aa2;
border-style:solid;
border-width:1px;
border-color:#425aa2;
font:bold 14px/30px Georgia, serif;
color:#FFFFFF}

table.Header {
width:90%;
max-width:1000px;
background-color:#FFFFFF;
border-style:solid;
border-width:1px;
border-color:#425aa2;}

table.Content {
width:90%;
max-width:1000px;
margin-bottom:5px;
background-color:#FFFFFF;
border-style:solid;
border-width:1px;
border-color:#425aa2;}

table.Language {
width:60%;
font:bold 12px/25px Georgia, serif;
color:#000}

table.Footer {
font-size:small;
color:#707070;
width:90%;
max-width:1000px;
background-color:#FFFFFF;
margin-bottom:20px;
text-align:center}

td {
padding:8px;
}

td.UpperBarCell {
	width:20%;
	text-align:center;
	padding:8px;
}

th.Header{
	color:#FFFFFF;
	font-size:large;
}

td.Newsfeed{
	text-align:justify;
	vertical-align:top;
	background:#707070;
	border-style:solid;
	border-width:9px;
	border-color:#FFFFFF;
}

td.NewsContentText{
	color:#FFFFFF;
	font-size:medium;
	margin-top:0;
}

td.CellContent{
	border-style:solid;
	border-width:9px;
	border-color:#FFFFFF;
}

td.BigNum{
	margin:0px;
	padding:0px;
	font:bold 38px/20px Georgia, serif;
	color:#FFFFFF;
}

td.Date{
	margin:0px;
	padding:0px;
	text-align:center;
	font:bold 12px/15px Georgia, serif;
	color:#FFFFFF;
}

a.UpperBarLinks{
	font:bold 14px/30px Georgia, serif;
	color:#FFFFFF;
	text-decoration: none;	
}

a.SearchLink{
	font:bold 14px/30px Georgia, serif;
	color:#000;
	text-decoration: none;	
}

td.ContactForm{
	text-align:center;
	color:#FFFFFF;
	vertical-align:middle;
	background:#707070;
	border-style:solid;
	border-width:9px;
	border-color:#FFFFFF;
}

table.Thanks {
	width:90%;
	max-width:1000px;
	height:500px;
	font:bold 14px/30px Georgia, serif;
	text-align:center;
	font-size:x-large;
	margin-bottom:5px;
	background-color:#FFFFFF;
	border-style:solid;
	border-width:1px;
	border-color:#425aa2;
}

.err{
	font-family : Verdana, Helvetica, sans-serif;
	font-size : 12px;
	color: red;
}

p.PDescr {
	text-align:justify;
	text-indent: 40px;
}

ol.OLDescr {
	text-align: justify;
}

ul.ULDescr {
	text-align: justify;
}

html{
    background-color:#003333;
}

img{
    height:200px;
    width:200px;
    float:left;
    margin-top:2%;
}

div:nth-child(2), div:nth-child(3), div:nth-child(4), div:nth-child(5){
    height:15%;
    width:20%;
    border-radius:5px;
    display:inline-block;
    position:relative;
    background-color:gray;    
    margin-top:5%;
    text-align:center
}

.font{
    color:white;
    font-size:1.85em;
}

a:hover{
    text-decoration:none;
} 

a:link{
    color:gray;
}
